.hero {
  min-height: calc(100vh - 127px);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.eyebrow {
  font-size: 0.85rem;
  font-weight: 700;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #F9B6DB;
  margin-bottom: 1.2rem;
}

.title {
  font-size: 5em;
}

.subtitle {
  line-height: 1.7;
  margin-bottom: 2.5rem;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  color: black;
}

.actions {
  display: flex;
  gap: 1rem;
  justify-content: center;
  flex-wrap: wrap;
}


/*  Estilos botones en general */

.boton{
   text-decoration: none;
  padding: 0.9rem 2.2rem;
  border-radius: 10px;
  color: #fff;
}

.botonVerProductos {
  background: #186CFF;
}

.botonVerCarrito {
  background:#FF6B00;
}

/* Responsive */

@media (max-width: 768px) {
  .title {
    font-size: 3em;
  }
  .content {
    padding: 1.5rem 1rem;
  }
}

@media (max-width: 480px) {
  .title {
    font-size: 2.2em;
  }
  .subtitle {
    font-size: 0.9rem;
  }
  .boton{
    padding: 0.75rem 1.5rem;
    font-size: 0.9rem;
    width: 100%;
    text-align: center;
  }
  .actions {
    flex-direction: column;
    align-items: center;
  }
}
